# Environment Variables & Secrets
.env
.env.local
.env.*.local
*.env

# Dependencies
node_modules/
server/node_modules/
extension/node_modules/

# Build & Output Folders
dist/
extension/dist/
build/
.vite/

# Logs & Debugging
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
*.log

# OS & Editor Files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
